#***Pythonic Programming***

#Comprehension

- List, Dictionary 등을 빠르게 만드는 기법
 - for + append 보다 속도 빠름

In [2]:
result = []
for i in range(10) :
    result.append(i*2)
#####################################
result = [i*2 for i in range(10)]

In [6]:
result = {}
for i in range(10) :
    result[str(i)] = i
#####################################
result= {str(i): i for i in range(10)}

In [7]:
result = set()
for i in range(10) :
    result.add(str(i))
#####################################
result = {str(i) for i in range(10)}

- if문을 마지막에 달아 원하는 요소만 추가 가능

In [10]:
result = [i for i in range(100) if i %2 ==0]
print(result)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

- 겹 for문 사용 가능

In [11]:
result = [(i,j) for i in range(5) for j in range(i)]
print(result)

[(1, 0), (2, 0), (2, 1), (3, 0), (3, 1), (3, 2), (4, 0), (4, 1), (4, 2), (4, 3)]

- 다차원 배열 만들기가 매우 유용

In [12]:
eye = [[int(i==j) for j in range(5)] for i in range(5)]
print(eye)

[[1, 0, 0, 0, 0], [0, 1, 0, 0, 0], [0, 0, 1, 0, 0], [0, 0, 0, 1, 0], [0, 0, 0, 0, 1]]

#Generator

- range 함수의 경우 숫자를 하나씩 생성하여 반환
 - 이러한 요소를 하나씩 생성해서 반환하는 객체를 Generator 라고 함

In [13]:
def my_range(stop) :
    number = 0
    while number < stop :
        yield number
        number += 1

for i in my_range(5) :
    print(i)

0
1
2
3
4

- function에 yield를 사용할 시 Generator가 됨
- yield 하는 위치에서 값을 반환
- 다시 값을 요청 받을 시 yield 다음 줄부터 실행
- Return 될 시 반복을 멈춤
    - 정확히는 StopIteration Error 발생
- Sequence 전체를 생성하는 것이 아니므로 메모리 효율적
    - 매우 큰 데이터 셋을 처리할 땐 Generator 사용 권장
- 괄호로 Generator Comprehension 형태로 선언 가능
    - Function 등으로 이미 괄호 쳐져 있다면 괄호 생략 가능

In [15]:
even_generator = (i*2 for i in range(100))
print(list(even_generator))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

#Built-in Functions (내장함수)

- sum([Iterable])

In [23]:
sum([1,2,3,4,5])
sum (i for i in range(1,101) if i%2==0)         #Generator이며, sum()함수로 괄호가 이미 있기에 for문 괄호 생략 됨

2550

- any([Iterable]), all([Iterable])

In [20]:
any([False, True, False])       #하나라도 참
all([False,True,False])         #모두 참

False

- max([Iterable]), min([Iterable])

In [21]:
max([7,5,-2,5,8])           #가장 큰 값
min([7,5,-2,5,8])           #가장 작은 값

-2

- zip 
    - 2개 이상의 순환 가능학 객체를 앞에서 부터 한번에 접근할 때 사용
    - Unpacking을 이용하여 2차원 리스트의 열 단위 접근 역시 가능
    - ***seq2 = zip(\*seq1)의 역연산은 seq1 = zip(\*seq2) 이다!***

In [24]:
seq1 = ['What', 'is', 'zip']
seq2 = [True, False, True]
seq3 = [1,2,3,4]                    # 길이가 안 맞을 경우 남는 건 버림

for w1,w2,w3 in zip(seq1,seq2, seq3) :  #앞에서 부터 하나씩 빼어 Tuple로 반환
    print(w1,w2,w3)

What True 1
is False 2
zip True 3

In [26]:
seq1= [1,2,3,4,5]               #길이가 안맞을 경우 남는 건 버림 // 앞뒤 길이 상관없음
seq2 = [7,8]

for w1,w2 in zip(seq1,seq2) :
    print(w1,w2)

1 7
2 8

In [25]:
array = [[1,2,3],[4,5,6],[7,8,9]]

for row in array:                # 행 단위 접근
    print(row)
for col in zip(*array):             # 열 단위 접근  *Asterik 으로 하면 깔끔하게 코딩 가능 a[0],a[1]..하지않아도 됨
    print(col)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
(1, 4, 7)
(2, 5, 8)
(3, 6, 9)

- enumerate
    - for 문이 Sequence를 돌 때 그 INDEX가 필요할 때가 있음
        -> enumerate 내장 함수 사용

In [27]:
seq = ['this','is','sentence']

for i in range(len(seq)) :
    print(i, seq[i])

for i, word in enumerate(seq) :
    print(i, word)

0 this
1 is
2 sentence
0 this
1 is
2 sentence

    - zip과 enumerate를 동시에 사용하는 등 여러 Generator를 한번에 사용

In [28]:
seq1 = ['This','sentence']
seq2 = [True, False]

for i, (a,b) in enumerate(zip(seq1,seq2)) :
    print(i,a,b)

0 This True
1 sentence False

    - Generator는 List 형태로 출력하기 위해선 list로 변환 필요

In [29]:
list(enumerate(['This','is','sentence']))

[(0, 'This'), (1, 'is'), (2, 'sentence')]

- Lambda Function
    - 함수의 이름 없이 빠르게 만들어 쓸 수 있는 익명 함수
    - 수학에서의 람다 대수에서 유래

In [30]:
def add(a,b) :
    return a+b
add(4,5)

9

In [31]:
add = lambda a,b : a+b
add(4,5)

9

    - lambda [param1],[param2],,, : [expression] 형태로 사용
    - 여러 줄을 쓸 수 없음
    - 공식적으로는 Lambda의 사용을 권장하지 않음, 그러나 많이 씀
        - 문서화 지원 미비
        - 이름이 존재하지 않는 함수가 생성     #자원관리 어려움
        - 복잡한 함수 lambda로 작성할 시 가독성 하락

- map ([function],[iterable])
    - 각 요소에 function 함수를 적용하여 반환

In [32]:
seq = [6,-2,8,4,-5]
list(map(lambda x: x*2, seq))

[12, -4, 16, 8, -10]

- filter([function,[iterable])
    - 각 요소에 function 함수를 적용하여 참이 나오는 것만 반환

In [33]:
seq = [6,-2,8,4,-5]
list(filter(lambda x:x>0, seq))

[6, 8, 4]

#TODO for Today
- 과제 1 : 나만의 내장 함수 & 알고리즘 함수 만들기
- Optional for Idle Students
    - Python 알고리즘 사이트의 문제들 풀어 보기 & 예제 보기
    - 백준
    - Python Example
        (https://www.programiz.com/python-programming/examples)